.img-park {
  padding: 50px;
}

.end-header {
  padding-top: 20px;
  font-weight: bold;
  color: black;
}

.btns {
  display: flex;
  flex-direction: column;
  margin: 35px;
}

#green-text {
  color: #79a73b;
}

#end-italic {
  font-style: italic;
}

.wrapper-end {
  height: 100vh;
  background-color: rgba(18, 103, 155, 0.12);
}

@media (min-width: 992px) {
  .btn {
    width: 20vw;
    margin: auto;
  }
}
