@import '../../utilities/variables.scss';
@import '../../utilities/media-queries.scss';
@import '../../utilities/layout-templates.scss';
@import '../../utilities/text-templates.scss';
@import './navbar-large.scss';
@import './navbar-narrow.scss';
@use "sass:map";

#navbar {
    @include element-size(10vh, 100%);
    max-width: 1826px;
    top: 0;
    position: fixed;
    background-color: white;
};