#navbar-layout-basic {
    @include element-size(100%, 100%);
    @include flex-template(row, space-between, center);
    padding: 1.5vh 30px 1.5vh;

    img {
        @include element-size(6vh, auto);
    };

    @include desktop-portrait {
        display: none;
    };
    @include tablet {
        display: none;
    };
    @include phone-portrait {
        display: none;
    };
};

#menu {
    @include element-size(100%, 40%);
    @include flex-template(row, space-between, flex-end);

    & > a {
        @include font-template("medium", black, 900);
    };

    & > a:last-child {
        line-height: 0;
    };

    @include phone-landscape {
        & > a {
            @include font-template("small", black, 900);
        };
    };
};