#navbar-layout-narrow {
    @include element-size(100%, 100%);
    padding: 1.5vh 15% 1.5vh;
    i:hover {
        cursor: pointer;
    };

    #navbar-text-closed {
        @include element-size(100%, 100%);
        @include flex-template(row, space-between, flex-end);

        img {
            @include element-size(5vh, auto);
        };
    };

    #navbar-text-open {
        @include element-size(100%, 100%);
        @include flex-template(row, space-between, flex-end);

        a {
            @include font-template("small", black, 900);
            padding-bottom: 1vh;
        };
    };
 
    @include desktop-portrait {
        #navbar-text-open > a {
            @include font-template("large", black, 900);
        };
    };

    @include tablet {
        #navbar-text-open > a {
            @include font-template("medium", black, 900);
        };
    };

    @include phone-portrait {
        #navbar-text-open > a {
            @include font-template("small", black, 900);
        };
    };
};