#navbar-narrow-container {
    @include element-size(100%, 100%);
    @include flex-template(row, '', '');
    padding: 0 10% 1vh;
};

#navbar-text-closed {
    @include element-size(100%, 100%);
    @include flex-template(row, space-between, flex-end);

    img {
        @include element-size(5vh, auto);
    };
};

#navbar-text-open {
    @include element-size(100%, 100%);
    @include flex-template(row, space-between, flex-end);
    z-index: 10;
    padding: 0 10% 1vh;
    position: absolute;
    left: 100%;
    background-color: white;

    a {
        // equalize the height with the close icon's height and center to align it
        @include element-size(map-get($icon-sizes, "large"), '');
        @include flex-template(row, '', center);
        @include font-template("large", black, 900);
    };
};


i:hover {
    cursor: pointer;
};

@include tablet {
    #navbar-text-open {
        a {
            @include element-size(map-get($icon-sizes, "medium"), '');
            @include flex-template(row, '', center);
            @include font-template("medium", black, 900);
        }
    };
};

@include phone-portrait {
    #navbar-text-open {
        a {
            @include element-size(map-get($icon-sizes, "small"), '');
            @include flex-template(row, '', center);
            @include font-template("small", black, 900);
        };
    };
};

// ANIMATION
.menu-open {
    animation: slidein .2s linear 1 forwards;
    -webkit-animation: slidein .2s linear 1 forwards;
};

.menu-close {
    animation: slideout .2s linear 1 forwards;
    -webkit-animation: slideout .2s linear 1 forwards;
};

@keyframes slidein {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
};

@keyframes slideout {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
};