.wrap-form-2 {
    width: 100vw;
    background-color: #E5EDF2;
}
.form-2 {
    display: flex;
    flex-direction: column;
    background-color: #E5EDF2;
    width: 75vw;
}

.num-people {
    display: flex;
    flex-direction: column;

}

.form-2-head {
    padding: 20px;
    color: black;
}

#num-people {
    margin: auto;
}

.form-control {
    width: 60vw;
    margin: auto;
}

.btn-form2 {
    width: 60vw;
    margin: auto;
}

@media (min-width: 992px) {
    .form-control {
        width: 30vw;
        margin: auto;
    }   
}