.intro-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#intro-head {
  font-weight: bold;
  color: black;
  padding-top: 50px;
}

#p-bold {
  font-weight: bold;
}

.form-int-div {
  background-color: rgba(18, 103, 155, 0.12);
}

.button {
  padding-bottom: 30px;
}
