// Colors
$darkBlue: #12679b;
$lightBlue: #D7E3EC;
$lightOrange: #FFEEDA;
$lightGreen: #DBEDDD;
$lightYellow: #FFF7E2;

// Text to be replaced by fixed values
$smallText: 1.2vmax;
$mediumText: 1.5vmax;
$largeText: 2.75vmax;

$font-sizes: (
    "small": 12px,
    "medium": 18px,
    "large": 26px
);

$icon-sizes: (
    "small": 24px,
    "medium": 36px,
    "large": 48px
);