#visit-sfpkla-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: black;
  font-size: 22px;
  font-weight: bold;
  padding: 3vh 0;
}

@media only screen and (min-width: 1026px) and (max-width: 1824px) {
  #visit-sfpkla-link {
    font-size: 20px;
  }
}

@media only screen and (min-width: 416px) and (max-width: 1025px) {
  #visit-sfpkla-link {
    font-size: 18px;
  }
}

@media only screen and (max-height: 415px) and (orientation: landscape) {
  #visit-sfpkla-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 415px) and (orientation: portrait) {
  #visit-sfpkla-link {
    font-size: 14px;
  }
}

#section1 {
  height: 90vh;
  width: 100%;
  max-width: 1200px;
  background-image: url("../assets/mobile-image1.png");
  background-size: cover;
}

#section1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

#section1 div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 75%;
  background-color: initial;
}

#section1 div div span:first-child, #section1 div div a:first-child {
  margin-bottom: 20px;
}

#section1 div #title {
  color: #12679b;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 1026px) and (max-width: 1824px) {
  #section1 div #title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 416px) and (max-width: 1025px) {
  #section1 div #title {
    font-size: 28px;
  }
}

@media only screen and (max-height: 415px) and (orientation: landscape) {
  #section1 div #title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 415px) and (orientation: portrait) {
  #section1 div #title {
    font-size: 24px;
  }
}

#section1 div #intro {
  color: black;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.7;
}

@media only screen and (min-width: 1026px) and (max-width: 1824px) {
  #section1 div #intro {
    font-size: 20px;
  }
}

@media only screen and (min-width: 416px) and (max-width: 1025px) {
  #section1 div #intro {
    font-size: 18px;
  }
}

@media only screen and (max-height: 415px) and (orientation: landscape) {
  #section1 div #intro {
    font-size: 16px;
  }
}

@media only screen and (max-width: 415px) and (orientation: portrait) {
  #section1 div #intro {
    font-size: 14px;
  }
}

#section1 div #buttons a {
  height: none;
  width: 75%;
  border-radius: 30px;
  border: 1px #12679b solid;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #12679b;
  letter-spacing: 1.5px;
}

#section1 div #buttons a:hover {
  color: #12679b;
  background-color: transparent;
}
/*# sourceMappingURL=homepage.css.map */