@import './reset.scss';
@import './layout-templates.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include flex-template(column, center, center);
};

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  };
};

#app {
  max-width: 2000px;
};