@mixin flex-template($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
};

@mixin element-size($height, $width) {
    height: $height;
    width: $width;
};







// // Flex row 
// @mixin flex-row-ctr-ctr {
//     @include flex-template(row, center, center);
// };

// @mixin flex-row-ctr-start {
//     @include flex-template(row, center, flex-start);
// };

// @mixin flex-row-ctr-end {
//     @include flex-template(row, center, flex-end);
// };

// @mixin flex-row-start-ctr {
//     @include flex-template(row, flex-start, center);
// };

// @mixin flex-row-start-start {
//     @include flex-template(row, flex-start, flex-start);
// };

// @mixin flex-row-start-end {
//     @include flex-template(row, flex-start, flex-end);
// };

// // Flex column
// @mixin flex-col-ctr-ctr {
//     @include flex-template(column, center, center);
// };

// @mixin flex-col-ctr-start {
//     @include flex-template(column, center, flex-start);
// };

// @mixin flex-col-ctr-end {
//     @include flex-template(column, center, flex-end);
// };

// @mixin flex-col-start-ctr {
//     @include flex-template(column, flex-start, center);
// };

// @mixin flex-col-start-start {
//     @include flex-template(column, flex-start, flex-start);
// };

// @mixin flex-col-start-end {
//     @include flex-template(column, flex-start, flex-end);
// };