@import './variables.scss';
@import './media-queries.scss';
@import './layout-templates.scss';
@import './typo-templates.scss';


#navbar {
    @include element-size(10vh, 100%);
    max-width: 1825px;
    top: 0;
    position: fixed;
    background-color: white;
};

#menu-reg {
    @include element-size(100%, 100%);
    @include flex-template(row, space-between, center);
    padding: 1.5vh 30px 1.5vh;

    & > div:nth-child(2) {
        @include element-size(100%, 40%);
        @include flex-template(row, space-between, flex-end);

        & > a:nth-child(-n+3) {
            @include responsive-font($mediumText, black, 900);
        };

        & > a:last-child {
            line-height: 0;
        };
    };

    img {
        @include element-size(6vh, auto);
    };

    @include desktop-portrait {
        display: none;
    };
    @include tablet {
        display: none;
    };
    @include phone-portrait {
        display: none;
    };
};

#menu-narrow {
    display: none;
    padding: 1.5vh 15% 1.5vh;

    i:hover {
        cursor: pointer;
    };

    @mixin menu-narrow {
        display: block;
        @include element-size(100%, 100%);

        #menu-closed {
            @include element-size(100%, 100%);
            @include flex-template(row, space-between, flex-end);

            img {
                @include element-size(5vh, auto);
            };
        };

        #menu-open {
            @include element-size(100%, 100%);
            @include flex-template(row, space-between, flex-end);

            a {
                @include responsive-font($mediumText, black, 900);
                padding-bottom: 1vh;
            };
        };
    };

    @include desktop-portrait {
        @include menu-narrow;
    };
    @include tablet {
        @include menu-narrow;
    };
    @include phone-portrait {
        @include menu-narrow;
    };
};