@import './media-queries.scss';

@mixin responsive-font($size, $color, $weight) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
};

@mixin button-template($size, $color, $template) {
    @include responsive-font($size, $color, bold);
    border-radius: 30px;
    border: 1px $color solid;
    text-align: center;
    padding: 15px;
    @include desktop {
        padding: 20px;
    }

    @if $template == 1 {
        color: white;
        background-color: $color;
        &:hover {
            color: $color;
            background-color: transparent;
        };
    }
    @else {
        background-color: transparent;
        &:hover {
            color: transparent;
            background-color: $color;
        };
    };
};