.form-4-header {
  background-color: rgba(216, 216, 216, 0.29);
}

#form-4 {
  background-color: rgba(18, 103, 155, 0.12);
}

.form-group {
  margin: 22px;
}

#head1 {
  color: #4f7fa7;
}

#p1 {
  font-weight: bold;
}

#span1 {
  font-weight: bold;
  color: red;
}

.fine-print {
  font-style: italic;
}

.copy-top {
  width: 70vw;
  margin: auto;
}

.secondary-header {
  padding-top: 17px;
  font-weight: bold;
}

#other-box1 {
  padding-top: 15px;
}

#other-box2 {
  margin: auto;
  width: 70vw;
  padding-bottom: 20px;
}

.otherLabels {
  padding: 15px;
}

.form-check {
  padding: 0;
}

@media (min-width: 992px) {
  #form-4 {
    display: flex;
    flex-direction: column;
  }

  .checkbox1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
    font-size: 20px;
  }

  .other-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: x-large;
  }

  .other-box {
    width: 30vw;
  }

  .vehicle-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    font-size: x-large;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    font-size: x-large;
  }
  .form-control {
    width: 30vw;
  }

  .emerg-grp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: x-large;
  }
}
