@import '../variables.scss';
@import '../media-queries.scss';
@import '../layout-templates.scss';
@import '../typo-templates.scss';

#section1 {
    @include element-size(90vh, 100%);
    margin-bottom: (40vh / 4);
    letter-spacing: 1.5px;
    line-height: 1.7;
    background-image: url('../../assets/mobile-image1.png');
    background-size: 100% 100%;
    
    & > div {
        @include flex-template(column, center, center);
        @include element-size(100%, 50%);
        background-color: transparentize($color: white, $amount: 0.2);

        & > div {
            @include flex-template(column, center, center);
            @include element-size(100%, 75%);
            background-color: initial;
        };

        #title {
            @include responsive-font($largeText, $darkBlue, bold);
            text-align: center;
        };

        #intro {
            @include responsive-font($mediumText, black, normal);
            
            & > div:first-child {
                margin-bottom: 15px;
            };
        };

        #buttons a {
            @include element-size('', 75%);
            @include button-template($smallText, $darkBlue, 1);

            &:first-child {
                margin-bottom: 20px;
            };
        };
    };

    @include desktop {
        & > div {
            #intro {
                & > div {
                    @include element-size('', 100%);
                };
            };

            #buttons a {
                @include element-size(none, 60%);
            };
        };
    };

    @include desktop-portrait {
        background-image: none;

        & > div {
            @include element-size(100%, 100%);

            img {
                @include element-size(100%, 75%);
                background-image: url('../../assets/mobile-image1.png');
                background-size: 100% 100%;
            };
        };
    };

    @include tablet {
        background-image: none;

        img {
            @include element-size(40%, 100%);
            background-image: url('../../assets/mobile-image1.png');
            background-size: 100% 100%;
        };

        & > div {
            @include element-size(100%, 100%);

            #title {
                @include flex-template(row, center, center);
                @include element-size(10%, 100%);
            };

            #intro {
                @include element-size(30%, 75%);
                & > div {
                    @include flex-template(row, center, center);
                };
            };

            #buttons {
                @include element-size(20%, 75%);
            };
        };
    };

    @include phone-landscape {
        & > div {
            #buttons a {
                &:first-child {
                    margin-bottom: 10px;
                };
            };
        };
    };
};
