@import '../variables.scss';
@import '../media-queries.scss';
@import '../layout-templates.scss';
@import '../typo-templates.scss';

#section2 {
    margin-bottom: (40vh / 4);
    background-color: $lightBlue;
    max-height: 400px;
    @include element-size(40vh, 100%);
    @include flex-template(column, space-around, '');

    & > div:first-of-type {
        @include element-size('', 100%);
        @include flex-template(row, center, center);
        @include responsive-font($mediumText, black, bold);
        letter-spacing: 1.5px;
    };

    #steps {
    @include element-size(50%, 100%);
    @include flex-template(row, '', center);

        div {
            @include element-size(100%, (100%/3));
            @include flex-template(column, space-between, center);
            @include responsive-font($smallText, black, normal);
        };
    };

    @include phone-portrait {
        padding: 0 10px;

        #steps {
            text-align: center;
            line-height: 1.5;
        };
    };
};